/* General setup */

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Oswald:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}

html {
	font-family: "Lora", serif;
}

h1,
h2 {
	font-family: "Oswald", sans-serif;
}
h1 {
	font-size: 3rem;
	text-align: center;
	letter-spacing: 3px;
}
h2 {
	font-size: 2rem;
	margin-bottom: 0px;
	letter-spacing: 1px;
}

p,
li {
	line-height: 1.5;
	letter-spacing: 0.5px;
}
a {
  outline: none;
}
a:link,
a:visited {
  color: #aa6666;
}

a:focus,
a:hover {
  color: #aa0000;
  text-decoration: none;
}
a[href*="http"] {
  padding-right: 15px;
  background: url("../images/external-link-52.png") no-repeat right center;
  background-size: 10px 10px;
}

ul,
ol {
  margin: 1.2rem 0;
  line-height: 1.5;
  list-style-type: circle;
}

nav ul{
	padding-left: 0;
}

nav li {
	list-style-type: none;
	margin-bottom: 1rem;
}
nav li a{
	font-family: "Oswald", sans-serif;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	line-height: 3;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid #aa6666;
}

nav li a:focus,
nav li a:hover {
  color: white;
  background-color: #aa6666;
}

nav li a:active {
  color: white;
  background-color: #662222;
}